<div class="container">
    <div class="row">
        <div class="col-sm-4 client_box">
            <img src="images/archer.jpg" alt="a dog trainer smiling">
            <h2 class="client_name">Archer</h2>
            <p> I had the best experience with my beautiful boy Archer! Becuase of the basic obedience he received at the
                school he is the best behaved dog at the dog park. People can't believe how sweet my German Shephard is. Gabriel
                was an absolute amazing teacher. I think I learned more than my dog!
            </p>
        </div>
        <div class="col-sm-4 client_box">
            <img src="images/ava.jpg" alt="a dog trainer smiling">
            <h2 class="client_name">Ava</h2>
            <p> My little girl Ava do so well in training! The staff at the school is so friendly and helpful. I loved the trainer 
                Gabriel he was so sweet and patient with my little Ava. I had issues with my previous dogs behavior but I know that
                Ava's gonna be a very sweet girl!
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4 client_box">
            <img src="images/graccie.jpg" alt="a dog trainer smiling">
            <h2 class="client_name">Graccie</h2>
            <p> The instructors at Matt's Dog University are absolutely incredible! Graccie has now won two competitions because
                of the competition training course. She listens so well and Vanessa was such a good teacher not only to Graccie
                but also to me!
            </p>
        </div>
        <div class="col-sm-4 client_box">
            <img src="images/doug.jpg" alt="a dog trainer smiling">
            <h2 class="client_name">Doug</h2>
            <p>Doug was a crazy puupy I could just not get him under control. He was almost a year old when I took him to basic
                obedience training and I was worried it would be too late to teach him some good manners, but I was wrong. The staff
                at this dog school were so patient and helpful with Doug and I learned so much. Thanks to them I have a much better
                behaved boy at home.
            </p>
        </div>
    </div>
</div>