<div class="container background">
    <div class="row">
      
      <div class="col-sm-5">
        <img src="images/sitting_dog.jpg" alt="">
      </div>
      <div class="col-sm-7">
        <h1 class="course_name">Basic Obedience Training</h1>
        <h6>Basic obedience training is the most important training you can get for you dog.</h6>
        <h6>Withou this training you will have difficulty getting your dog to behave well for the rest
            of its life!
        </h6>
        <h6>Contact us right away to schedule your basic obedience training sessions for your young dog or puppy!</h6>
      </div>
    
    </div>  
</div>

<div class="container background">
    <div class="row">

        <div class="col-sm-5">
            <img src="images/jumping_dog.jpg" alt="">
          </div>
        <div class="col-sm-7">
            <h1 class="course_name">Competition Training</h1>
            <h6>This course is for dog owners that want to take their dog's training to the next level!</h6>
            <h6>Whether you want to enter your dog into a competition or are just looking for some advanced training
                to have some fun and bond with your pup this is the course for you.
            </h6>
            <h6>This course focuses on you (the owner) as much as it focuses on your dog, becuase if you want to have
                the best trained dog possible it will take a lot of practice and you need to be a good coach!
            </h6>
        </div>
    </div>  
</div>

<div class="container background">
    <div class="row">
    
        <div class="col-sm-5">
            <img src="images/attack_dog2.jpg" alt="">
          </div>
        <div class="col-sm-7">
            <h1 class="course_name">Police Dog Trainng</h1>
            <h6>This is a specialty course that we offer to help police staions around the area.</h6>
            <h6>One of our trainers is a former police officer and specializes in working with K-9 units</h6>
            <h6>If you are from a police station please contact us for more information about this course!</h6> 
        </div>
    </div>  
</div>
  
  