<div class="container background">
    <div class="row">
      
      <div class="col-sm-5">
        <img src="images/pug.jpg" alt="">
      </div>
      <div class="col-sm-7">
        <h1>Hello There!</h1>
        <p> Welcome to our website.</p>
        <p> We are a dog training school focused on helping raising happy and well trained puppies, service dogs, and police dogs! </p>
        <p> If you want to see what courses we have available, click <a href="/courses">the courses page</a> and explore!</p>
        <p> When you see a course you like you can <a href="/contact">contact us to join! </a> You'll have a perfectly trained pup in no time!</p>
      </div>
    
    </div>  
</div>

<div class="container background">
    <div class="row">
    
        <div class="col-sm-7">
            <h1>Would you like to see some of our satisfied clients? </h1>
            <p> We have had many dogs and puppies come through our shcool. </p>
            <p> If you want to see some of our well trained pups and satisfied customers, click <a href="/clients">the clients page</a> and explore!</p>
            <p> If you would like to meet our trainers then take a look at our <a href="/trainers"> trainers page. </a> </p>
        </div>
      <div class="col-sm-5">
        <img src="images/brown_dog.jpg" alt="">
      </div>
    </div>  
</div>

<div class="container background">
    <div class="row">
    
        <div class="col-sm-5">
            <img src="images/golden.jpg" alt="">
          </div>
        <div class="col-sm-7">
            <h1>We hope that you come pay us a visit!</h1>
            <p> Everyone is always welcome to stop by and pay us a visit!</p>
            <p> We are very easy to find! We are right off of I-90 on route 72 accross from Gobbert's Farm & Garden Center, click <a href="/location">the location page</a></p>
        </div>
    </div>  
</div>
  
  