<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
        <title>Matt's Dog University</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/dog_university.css">
    </head>

    <body>
        <div id="nav">
            <div class="col-sm">
                <h2 id="title">Matt's Dog University</h2>
            </div>
            <div class="col-sm nav-align">
                <a href="/">
                    <span class="button">Home</span>
                </a>
                <a href="/courses">
                    <span class="button">Courses</span>
                </a>
                <a href="/trainers">
                    <span class="button">Trainers</span>
                </a>
                <a href="/clients">
                    <span class="button">Clients</span>
                </a>
                <a href="/location">
                    <span class="button">Location</span>
                </a>
                <a href="/contact">
                    <span class="button">Contact</span>
                </a>
            </div>
        </div>

        <%- body %>

    </body>

</html>