<div class="container background">
    <div class="row">
        <div class="col-sm-6"><img src="images/location.jpg" alt="" /></div>
        <div class="col-sm-6">
            <h1>33 West Higgins Rd</h1>
            <h3>South Barrington, IL 60010</h3>
    
            <hr>
            <h6>Please contacet us for more details about our location.</h6>
        </div>
    </div>
</div>