<div class="container">
    <div class="row">

        <div class="col-sm-3 trainer_box">
            <img src="images/trainer1.jpg" alt="a dog trainer smiling">
            <h2 class="trainer_name">Gabriel</h2>
            <p> Hi! My name is Gabriel and I have been training dogs since I was a very young child. My parenst were
                huge dog lovers and we always had several dogs in the house growing up. I specialize in basic obiedience
                training for young dogs and puppies. This type of training is the most important if you want a well behaved
                pup at home!
            </p>
        </div>
        <div class="col-sm-3 trainer_box">
            <img src="images/trainer2.jpg" alt="a dog trainer smiling">
            <h2 class="trainer_name">Vanessa</h2>
            <p>Hi there! My name is Vanessa I have been a dog lover all my life and I have three of my own pups at home.
                I competed with dogs for 7 years and I now specialize in competition training at the dog school! I loved
                competeing and I love trainig dogs and their owners to perform their absolute best. It's amazing what you
                train your pup to accomplish!
            </p>
        </div>
        <div class="col-sm-3 trainer_box">
            <img src="images/trainer3.jpg" alt="a dog trainer smiling">
            <h2 class="trainer_name">Morgan</h2>
            <p>Hello my name is Morgan! I have been working closely with dogs for five years now. I was a police officer
                for those five years and I worked with them on the K-9 unit. I think that dogs are the sweetest and most loyal
                creatures on the planet. I specialize in police dog training at the dog school, but I also do other types of 
                trainig.
            </p>
        </div>
    </div>
</div>